<tr class="<%= row_class %>">
  <td style="vertical-align:middle"><%= q.position %></td>
  <td style="vertical-align:middle"><%= q.title %></td>
  <td style="vertical-align:middle"><%= q.body %></td>
  <td style="vertical-align:middle"><%= q.status %></td>
  <td style="vertical-align:middle">
    <%= form_tag(course_oh_time_slot_oh_queue_question_path(c, oh, ohq, q), method: 'put', class: 'form-inline') do %>
      <div class="form-group">
        <%= select_tag(:'question[status]',
            options_for_select([['in-progress', 'in-progress'], ['resolved', 'resolved'], ['unresolved', 'unresolved']]),
            class: 'form-control') %>
      </div>
      <div class="form-group text-center">
        <%= submit_tag 'Update', class: 'btn btn-md btn-default' %>
      </div>
    <% end %>
  </td>
  <td style="vertical-align:middle">
    <%= link_to 'Destroy', course_oh_time_slot_oh_queue_question_path(c, oh, ohq, q), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
