<% if logged_in? %>
  <% is_instructor = @course.instructors.include? current_account %>
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3>
        Queue for
        <%= link_to @course.name, @course %>
        <%= @oh_time_slot.start_time.strftime("%A") %>
        <%= @oh_time_slot.frequency %> Office Hours
        <% if is_instructor && @oh_queue.active %>
          <div style="float:right">
            <%= link_to 'End Queue', end_queue_course_oh_time_slot_oh_queue_path, class: 'btn btn-danger' %>
          </div>
        <% end %>
      </h3>

      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <% if is_instructor %>
      <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            Questions -
            <small>
              <%= @oh_queue.unresolved_questions.length %> Unresolved
            </small> -
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Position</th>
                  <th>Student</th>
                  <th>Title</th>
                  <th>Details</th>
                  <th>Status</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @oh_queue.unresolved_questions.each do |q| %>
                  <% row_class = if q.status == 'unresolved' then 'danger' else '' end %>
                  <%= render 'questions/row', c: @course, oh: @oh_time_slot, ohq: @oh_queue, q: q, row_class: row_class %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Resolved Questions</div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Position</th>
                  <th>Title</th>
                  <th>Details</th>
                  <th>Status</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @oh_queue.resolved_questions.each do |q| %>
                  <%= render 'questions/row', c: @course, oh: @oh_time_slot, ohq: @oh_queue, q: q, row_class: 'success' %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">Queue Info</div>
          <div class="panel-body">
            <table class="table">
              <tr>
                <td align="right"><strong># Questions So Far</strong></td>
                <td align="left"><%= @oh_queue.questions.length %></td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
              </tr>
              <tr>
                <td align="right"><strong># Pending Questions</strong></td>
                <td align="left"><%= @oh_queue.unresolved_questions.length %></td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
              </tr>
              <tr>
                <td align="right"><strong>Avg. Wait Time (m)</strong></td>
                <td align="left"><%= (@oh_queue.avg_wait_time / 60).round(2) %></td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
              </tr>
              <tr>
                <td align="right"><strong>Normal Wait Time for these Office Hours (m)</strong></td>
                <td align="left"><%= (@oh_time_slot.avg_wait_time / 60).round(2) %></td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-danger">
          <% current_question = @oh_queue.unresolved_question_for(current_account) %>
          <% if current_question.nil? %>
            <div class="panel-heading">Submit Question</div>
            <div class="panel-body"> 
              <%= form_tag(course_oh_time_slot_oh_queue_questions_path(@course, @oh_time_slot, @oh_queue), method: 'post', class: 'form-horizontal') do %>
              <div class="form-group">
                <%= label_tag :'question[title]', 'Title:', class: 'col-md-2 control-label' %>
                <div class='col-md-9'>
                  <%= text_field_tag :'question[title]', nil, class: 'form-control', placeholder: 'Qustion goes here' %>
                </div>
              </div>
              <div class="form-group">
                <%= label_tag :'question[body]', 'Body:', class: 'col-md-2 control-label' %>
                <div class='col-md-9'>
                  <%= text_field_tag :'question[body]', nil, class: 'form-control', placeholder: 'Provide a few details here if necessary' %>
                </div>
              </div>
              <div class="form-group text-center">
                <%= submit_tag 'Submit Question', class: 'btn btn-default' %>
              </div>
            <% end %>
            </div>
          <% else %>
            <div class="panel-heading">Current Question</div>
            <div class="panel-body"> 
              <table class="table">
                <tr>
                  <td align="right"><strong>Position in Queue</strong></td>
                  <td align="left"><%= current_question.position %></td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
                </tr>
                <tr>
                  <td align="right"><strong>Question</strong></td>
                  <td align="left"><%= current_question.title %></td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
                </tr>
                <tr>
                  <td align="right"><strong>Details</strong></td>
                  <td align="left"><%= current_question.body %></td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
                </tr>
                <tr>
                  <td align="right"><strong>Approximate Expected Resolution Time</strong></td>
                  <td align="left"><%= ((current_question.created_at + @oh_queue.avg_wait_time) - 14400).to_formatted_s(:long) %></td>
                <td> &nbsp; </td>
                <td> &nbsp; </td>
                </tr>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h4>Nothing to see hear... move along.</h4>
<% end %>
