<%= form_for @institution, :html => {:class => 'form-horizontal', :style => 'width:50%'} do |f| %>
  <% if @institution.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <%= pluralize(@institution.errors.count, "error") %> prohibited this institution from being saved:
      </div>
      <div class="panel-body">
        <ul>
        <% @institution.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :name, 'Institution Name:', class: 'col-md-2 control-label' %>
    <div class='col-md-10'>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class='form-group'>
    <%= f.label :password, 'Password:', class: 'col-md-2 control-label' %>
    <div class='col-md-10'>
      <%= f.password_field :password_hash, value: nil, class: 'form-control' %>
    <p class="text-left help-block">For Institution creation, add a password so an admin can later
      edit or destroy the institution. For instution editing, include the password to confirm the
      updates to name or email domain.</p>
    </div>
  </div>

  <div class='form-group'>
    <%= f.label :email_regex, 'Email Domain:', class: 'col-md-2 control-label' %>
    <div class='col-md-10'>
      <%= f.text_field :email_regex, class: 'form-control' %>
    <p class="text-left help-block">Accounts with emails ending in this domain are allowed to register with this institution. For example, "upenn.edu" would allow user@upenn.edu and user@seas.upenn.edu to register.</p>
    </div>
  </div>

  <div class='actions'>
    <%= f.submit 'Submit', class: 'btn btn-default btn-primary' %>
  </div>
<% end %>
