<% if logged_in? %>
  <% is_instructor = @course.instructors.include? current_account %>
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3><%= @course.name %></h3>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">Course Info</div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <td align="right"><strong>Name</strong></td>
              <td align="left"><%= @course.name %></td>
            </tr>
            <tr>
              <td align="right"><strong>Institution</strong></td>
              <td align="left"><%= @course.institution.name %></td>
            </tr>
            <tr>
              <td align="right"><strong>Semester</strong></td>
              <td align="left"><%= @course.semester %></td>
            </tr>
            <% if is_instructor %>
              <tr>
                <td align="right"><strong># of Students</strong></td>
                <td align="left"><%= @course.students.length %></td>
              </tr>
              <tr>
                <td align="right"><strong># of Past Queues</strong></td>
                <td align="left"><%= @course.oh_queues.length %></td>
              </tr>
            <% else %>
              <tr>
                <td align="right"><strong>Personal Avg. Wait Time (m)</strong></td>
                <td align="left"><%= @course.avg_wait_time_for(current_account) %></td>
              </tr>
              <tr>
                <td align="right"><strong>Lifetime Wait Time (m)</strong></td>
                <td align="left"><%= @course.lifetime_wait_time_for(current_account) %></td>
              </tr>
            <% end %>
            <tr>
              <td align="right"><strong>Avg. Wait Time (m)</strong></td>
              <td align="left"><%= (@course.avg_wait_time / 60).round(2) %></td>
            </tr>
          </table>

          <hr>
          <% if current_account.professor %>
            <div class="text-center">
              <%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
        </div>
      </div>
      <% if is_instructor %>
        <div class="panel panel-success">
          <div class="panel-heading">
            Instructors -
            <small>
              <%= pluralize(@course.professors.length, 'Professor') %>  |
              <%= pluralize(@course.tas.length, 'TA', 'TAs') %>
            </small> -
          </div>
          <div class="panel-body" style="height:150px;overflow-y:scroll">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                <% @course.instructors.each do |instructor| %>
                  <tr>
                    <td><%= instructor.name %></td>
                    <% if instructor.professor %>
                      <td>Professor</td>
                    <% else %>
                      <td>TA</td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="panel-body">
            <hr>
            <h4>Add new Instructor</h4>
            <%= form_tag(add_instructor_course_path, method: 'post') do %>
              <div class="form-group">
                <%= email_field_tag :instructor_email, nil, class: 'form-control', placeholder: 'Instructor email' %>
              </div>
              <div class="form-group text-center">
                <%= submit_tag 'Add Instructor', class: 'btn btn-sm btn-default' %>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="panel panel-success">
          <div class="panel-heading">
            Previous Questions -
            <small>
              <%= pluralize(@course.questions_for(current_account).length, 'Questions') %>
            </small> -
          </div>
          <div class="panel-body" style="height:150px;overflow-y:scroll">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Wait Time (m)</th>
                </tr>
              </thead>
              <tbody>
                <% @course.questions_for(current_account).each do |question| %>
                  <tr>
                    <td><%= question.title %></td>
                    <td><%= (question.wait_time / 60).round(2) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-7">
      <div class="panel panel-danger">
        <div class="panel-heading">Queues</div>
        <div class="panel-body">
          <% rn = Time.now.utc %>
          <% msg = 'No office hours today!' %>
          <% found = false %>
          <% @course.oh_time_slots.select{ |slot| slot.start_time.today? }.each do |slot| %>
            <% start_time =
              (slot.start_time - 14400).to_formatted_s(:long) %>
            <% end_time = slot.end_time.time %>
            <% if end_time > rn %>
              <% found = true %>
              <% diff_in_secs = rn - slot.start_time.time %>
              <% if diff_in_secs >= 0 %>
                <% if slot.queue_active? %>
                  <h3>
                    <%= start_time %> -
                    <a href="/courses/<%=@course.id%>/oh_time_slots/<%=slot.id%>/oh_queues/<%=slot.active_queue.id%>">Live Queue</a>
                  </h3>
                <% else %>
                  <% if is_instructor %>
                    <h3>
                      <%= start_time %> -
                      <%= link_to 'Launch Queue', launch_queue_course_oh_time_slot_path(@course, slot) %>
                    </h3>
                  <% else %>
                    <h3>Office Hours are active, but the queue has not yet been created.</h3>
                  <% end %>
                <% end %>
              <% else %>
                <h3>
                  There will be office hours in about <%= pluralize((-1 * diff_in_secs / 60).round(0), 'minute') %>
                </h3>
              <% end%>
            <% else %>
              <% msg = 'No more office hours today!' %>
            <% end %>
          <% end %>
          <% if !found %>
            <p><%= msg %></p>
          <% end %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Office Hours Timeslots</div>
        <div class="panel-body" style="height:200px;overflow-y:scroll">
          <h3>Scheduled Office Hours</h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Next Start Time</th>
                <th>Duration (h)</th>
                <th>Frequency</th>
                <th>Avg. Wait Time (m)</th>
              </tr>
            </thead>
            <tbody>
              <% @course.oh_time_slots.each do |slot| %>
                <% start_time =
                  (slot.start_time - 14400).to_formatted_s(:long) %>
                <tr>
                  <td>
                    <% if is_instructor %>
                      <%= link_to start_time, course_oh_time_slot_path(slot) %>
                    <% else %>
                      <%= start_time %>
                    <% end %>
                  </td>
                  <td><%= ((slot.end_time - slot.start_time) / 3600).to_i %></td>
                  <td><%= slot.frequency %></td>
                  <td><%= (slot.avg_wait_time / 60).round(2) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <% if is_instructor %>
          <div class="panel-body">
            <hr>
            <h3>Add new Office Hours</h3>
            <%= form_tag(course_oh_time_slots_path(@course), method: 'post', class: 'form-horizontal') do %>
              <%= hidden_field_tag :'oh_time_slot[course_id]', @course.id %>
              <%= hidden_field_tag :'oh_time_slot[timezone]', 'DST' %>
              <div class="form-group">
                <%= label_tag :'oh_time_slot[start_time]', 'Start:', class: 'col-md-2 control-label' %>
                <div class='col-md-9'>
                  <%= datetime_local_field :'oh_time_slot[start_time]', nil, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group">
                <%= label_tag :'oh_time_slot[duration]', 'Duration (h):', class: 'col-md-2 control-label' %>
                <div class='col-md-9'>
                  <%= text_field_tag :'oh_time_slot[duration]', nil, class: 'form-control', placeholder: 'number of hours (i.e. 2, 1.5, etc)' %>
                </div>
              </div>
              <div class="form-group">
                <%= label_tag :'oh_time_slot[frequency]', 'Frequency:', class: 'col-md-2 control-label' %>
                <div class='col-md-9'>
                  <%= select_tag(:'oh_time_slot[frequency]',
                      options_for_select([['Once', 'Once'], ['Daily', 'Daily'], ['Weekly', 'Weekly']]),
                      class: 'form-control') %>
                </div>
              </div>
              <div class="form-group text-center">
                <%= submit_tag 'Create Office Hour Timeslot', class: 'btn btn-default' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <p>To view this course, please sign in:</p>
  <%= link_to 'Sign In', login_path %>
<% end %>
