<% if logged_in? && @account.id == current_account.id %>
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <h3><strong><%= @account.name %></strong>'s Dashboard</h3>
      <hr>
    </div>
  </div>

  <% if @account.professor %>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <%= render 'info', account: @account %>
      </div>
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">Create New Course</div>
          <div class="panel-body">
            <%= form_tag(create_course_path, method: 'post', class: 'form-horizontal') do %>
              <div class='form-group'>
                <%= label_tag :'course[name]', 'Name:', class: 'col-md-3 control-label' %>
                <div class='col-md-9'>
                  <%= text_field_tag :'course[name]', nil, class: 'form-control' %>
                </div>
              </div>

              <div class='form-group'>
                <%= label_tag :'course[semester]', 'Semester:', class: 'col-md-3 control-label' %>
                <div class='col-md-9'>
                  <%= text_field_tag :'course[semester]', nil, class: 'form-control' %>
                </div>
              </div>

              <input type='hidden' value="<%= @account.institution.id %>" name="course[institution_id]">
              <input type='hidden' value="<%= @account.id %>" name="instructor_id">
              
              <div class="col-md-3">
              </div>
              <%= submit_tag 'Create', class: 'btn btn-default' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-9">
        <div class="panel panel-danger">
          <div class="panel-heading">Instructed Courses</div>
          <div class="panel-body">
            <%= render 'courses/table', courses: @account.instructed_courses,
            account: @account, droppable: false, destroyable: true %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <%= render 'info', account: @account %>
        <% if @account.instructed_courses.length != 0 %>
          <div class="panel panel-success">
            <div class="panel-heading">Instructed Courses</div>
            <div class="panel-body">
              <%= render 'courses/table', courses: @account.instructed_courses,
              account: @account, droppable: false, destroyable: false %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-5">
        <div class="panel panel-danger">
          <div class="panel-heading">Enrolled Courses</div>
          <div class="panel-body">
            <%= render 'courses/table', courses: @account.enrolled_courses,
              account: @account, droppable: true, destroyable: false %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Enroll in New Course</div>
          <div class="panel-body">
            <%= form_tag(enroll_course_path, method: 'post', class: 'form-horizontal') do %>
              <div class='form-group'>
                <%= label_tag :'course[name]', 'Name:', class: 'col-md-3 control-label' %>
                <div class='col-md-9'>
                  <%= text_field_tag :'course[name]', nil, class: 'form-control' %>
                </div>
              </div>

              <div class='form-group'>
                <%= label_tag :'course[semester]', 'Semester:', class: 'col-md-3 control-label' %>
                <div class='col-md-9'>
                  <%= text_field_tag :'course[semester]', nil, class: 'form-control' %>
                </div>
              </div>

              <input type='hidden' value="<%= @account.institution.id %>" name="course[institution_id]">
              <input type='hidden' value="<%= @account.id %>" name="student_id">
              
              <div class="col-md-3">
              </div>
              <%= submit_tag 'Enroll', class: 'btn btn-default' %>
            <% end %>
          </div>
        </div>
      </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>To view this account, please sign in:</p>
  <%= link_to 'Sign In', login_path %>
<% end %>

<style type="text/css">
  .drop-button {
    cursor: pointer;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    $('.drop-button').click(function() {
      var course_id  = $(this).attr('course-id');
      var account_id = $(this).attr('account-id');

      $.post('<%= drop_course_path %>', {
        course_id: course_id,
        student_id: account_id
      });
    });
  });
</script>
