<% if logged_in? && @account.id == current_account.id %>
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <h3><strong><%= @account.name %></strong>'s Dashboard</h3>
      <hr>
    </div>
  </div>

  <% if @account.professor %>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <%= render 'info', account: @account %>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Create New Course</div>
          <div class="panel-body">
            <%= form_tag(create_course_path, method: 'post', class: 'form-horizontal') do %>
              <div class='form-group'>
                <%= label_tag :'course[name]', 'Name:', class: 'col-md-3 control-label' %>
                <div class='col-md-9'>
                  <%= text_field_tag :'course[name]', nil, class: 'form-control' %>
                </div>
              </div>

              <div class='form-group'>
                <%= label_tag :'course[semester]', 'Semester:', class: 'col-md-3 control-label' %>
                <div class='col-md-9'>
                  <%= text_field_tag :'course[semester]', nil, class: 'form-control' %>
                </div>
              </div>

              <input type='hidden' value="<%= @account.institution.id %>" name="course[institution_id]">
              <input type='hidden' value="<%= @account.id %>" name="instructor_id">
              
              <div class="col-md-3">
              </div>
              <%= submit_tag 'Create', class: 'btn btn-default' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-9">
        <div class="panel panel-danger">
          <div class="panel-heading">Instructed Courses</div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Course Name</th>
                  <th>Semester</th>
                  <th># Enrolled Students</th>
                  <th># Instructors</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @account.instructed_courses.each do |course|  %>
                  <tr>
                    <td><%= link_to course.name, course %></td>
                    <td><%= course.semester %></td>
                    <td><%= course.students.length %></td>
                    <td><%= course.instructors.length %></td>
                    <td>
                      <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <%= render 'info', account: @account %>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Enrolled Courses</div>
          <div class="panel-body">
            <%= render 'courses/table', courses: @account.enrolled_courses %>
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <% if @account.instructed_courses.length != 0 %>
          <div class="panel panel-success">
            <div class="panel-heading">Instructed Courses</div>
            <div class="panel-body">
              <%= render 'courses/table', courses: @account.instructed_courses %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning">
          <div class="panel-heading">Enroll in New Course</div>
          <div class="panel-body">
            coming soon...
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  <% end %>
<% else %>
  <p>To view this account, please sign in:</p>
  <%= link_to 'Sign In', login_path %>
<% end %>
